
svg {
    max-width: 100%;
    vertical-align: middle;
  }
  
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  input[type=number] {
    -moz-appearance: none;
  }
  
  .svg-pi-wrapper {
    position: relative;
  }
  
  .svg-pi {
    transform: rotate(-95deg); /* Fix the orientation */
  }
  
  .svg-pi-track,
  .svg-pi-indicator{
    cx:75px;
    cy:75px;
    r:70px;
  }
  
  /* Animated spinner version */
  .svg-pi-indicator--spinner {
    animation: spinner .75s linear infinite;
    transform-origin: center;
  }
  
  .svg-pi-label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index:1;
    border-radius: 50%;
  }
  
  .svg-pi-label__loading {
    opacity: 1;
    font-size: 1rem;
  }
  
  
  .svg-pi-label__loading {
    display: inline-block;
  }
  
  input[type="text"]
  {
      background: transparent;
      border: none;
      outline: none;
      width: 100% !important;
      margin: 0;
      padding: 0;
      color:white;
      text-align: center; 
      font-size: 24px;
  }
  
  .innermost-asset{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 60%;
    border-radius: 50%;
    background: #1fb5cc;
  }
  
  
  
  /* Mobile Phones */
  @media only screen and (max-width: 400px) {
    /* Your styles for mobile phones here */
    .svg-pi-track,
    .svg-pi-indicator{
      cx:60px;
      cy:60px;
      r:55px;
    }
    .innermost-asset{
      width: 70px;
      height: 70px;
    }
    input[type="text"]
    {
        font-size: 18px;
    } 
  
  }
  