.navbar{
    display: flex;
    justify-content: space-between;
    padding-left:24px;
    padding-right: 24px;
    height: 64px;
    background:#05445E;
    color:white;
    align-items: center;
}

.widgets{
    cursor: pointer;
    display: flex;
    gap:12px;
    text-decoration: none !important;
}

.widgets span{
    text-decoration: underline;
    color:white;
}